* {
    /* 去除浏览器默认内外边距 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 去除input的轮廓 */
input {
    outline: none;
}

html,
body {
    height: 100%;
}

body {
    /* 溢出隐藏 */
    overflow-x: hidden;
    display: flex;
    /* 渐变方向从左到右 */
    /*background: linear-gradient(to right, rgb(247, 209, 215), rgb(191, 227, 241)); */
    background: radial-gradient(at 100% 20%, #3d4650 75px, #4a3d50 -4%, #1c1a2e 38%);
}

/* 最外层的大盒子 */
.outer-box {
    width: 1200px;
    height: 600px;
    display: flex;
    /* 相对定位 */
    position: relative;
    z-index: 2;
    margin: auto;
    /* 设置圆角 */
    border-radius: 20px;
    /* 设置边框 */
    /* border: 1px solid #4a3d50; */
    /* 设置盒子阴影 */
    box-shadow: 2px 1px 19px rgba(0, 0, 0, .1);
    
}

/* 滑动的盒子 */
.intro-box {
    /* 宽度为大盒子的一半 */
    width: 50%;
    /* width: var(--width); */
    height: 100%;
    display: flex;
    /* 绝对定位 */
    position: relative;
    /* 距离大盒子左侧为0 */
    left: 0;
    /* 距离大盒子顶部为0 */
    top: 0;
    z-index: 98;
    border-radius: 10px;
    /* background-color: #edd4dc; */
    background-color: rgba(255, 214, 240, 0.02);
    box-shadow: 2px 1px 19px rgba(0, 0, 0, .1);
    justify-content: center;
    animation: introUp .8s ease-in-out forwards;
}

/* 标题盒子 */
.title-box {
    height: 40%;
    /* 绝对定位 */
    position: absolute;
    /* 距离大盒子顶部为0 */
    top: 0;
    z-index: 99;
    border-radius: 4px;
}

/* 标题 */
.title-box h1 {
    font-weight: bold;
    font-size: xx-large;
    height: 20%;
    margin-top: 150px;
    text-align: center;
    /* 文字间距 */
    letter-spacing: 5px;
    color: white;
    /* 禁止选中 */
    user-select: none;
    /* 文字阴影 */
    text-shadow: 4px 4px 3px rgba(0, 0, 0, .1);
}

/* 滑动盒子的标题 */
.intro-box h1 {
    margin-top: 150px;
    text-align: center;
    /* 文字间距 */
    letter-spacing: 5px;
    color: white;
    /* 禁止选中 */
    user-select: none;
    /* 文字阴影 */
    text-shadow: 4px 4px 3px rgba(0, 0, 0, .1);
}

.nav-box {
    height: 50%;
    top:40%;
    left: 40%;
    position: absolute;
    display: flex;
    /* 纵向布局 */
    flex-direction: column;
    /* 水平居中 */
    align-items: center;
}

.nav-box p{
    letter-spacing: 2px;
    text-align: center;
}
a:link,a:active,a:visited {text-decoration: none;}
a:hover {
    /* 鼠标小手 */
    cursor: pointer;
    /* 透明度 */
    opacity: 0.8;
}



.input-box {
    /* 宽度为大盒子的一半 */
    width: 50%;
    /* width: var(--width); */
    height: 100%;
    right: 0;
    position: relative;
    display: flex;
    /* 纵向布局 */
    flex-direction: column;
    /* 水平居中 */
    align-items: center;
    border-radius: 10px;
    background-color: rgba(160, 228, 255, 0.02);
    animation: inputDown .8s ease-in-out forwards;
}

@keyframes introUp {
    from {top: 100%;}
    to {top: 0;}
}

@keyframes inputDown {
    from {top: -100%;}
    to {top: 0;}
}

/* 滑动盒子的文字 */

.intro-box p {
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 20px 0;
    /* 禁止选中 */
    user-select: none;
    font-weight: bold;
    font-size: large;
    color: white;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, .1);
}


input {
    width: 60%;
    height: 40px;
    margin-bottom: 20px;
    text-indent: 10px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 120px;
    /* 增加磨砂质感 */
    backdrop-filter: blur(10px);
}

input:focus {
    /* 光标颜色 */
    color: #b0cfe9;
}

/* 聚焦时隐藏文字 */
input:focus::placeholder {
    opacity: 0;
}

.password-box {
    width: 50%;
    /* width: var(--width); */
    height: 50%;
    position: absolute;
    justify-content: center;
    top: 45%;
}

/* 输入框 */
input {
    width: 100%;
    height: 40px;
    text-indent: 10px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 120px;
    /* 增加磨砂质感 */
    backdrop-filter: blur(10px);
}

input:focus {
    /* 光标颜色 */
    color: #b0cfe9;
}

/* 聚焦时隐藏文字 */
input:focus::placeholder {
    opacity: 0;
}

/* 按钮盒子 */
.btn-box {
    position: absolute;
    justify-content: center;
    /* 距离大盒子顶部为0 */
    top: 55%;
}

/* 按钮 */
button {
    width: 100px;
    height: 30px;
    margin: 0 7px;
    line-height: 30px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    border: none;
    border-radius: 4px;
    background-color: #4b007a;
    color: white;
}

/* 按钮悬停时 */
button:hover {
    /* 鼠标小手 */
    cursor: pointer;
    /* 透明度 */
    opacity: 0.8;
}


.star {
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 10px;
    margin: 100px auto;
    border-radius: 50%;
    background: radial-gradient(at 50% 50%, rgb(189, 188, 188) 1px, #a7adb4 -4%, #8b8ba2 38%);
    /* 蓝色光影 */
    box-shadow: 0 0 10px 2px rgb(189, 109, 255);
    animation: myStar 5s linear forwards;
}

.meteor {
    position: absolute;
    z-index: 2;
    /* 渐变 */
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0));
    height: 2px;
    width: 100px;
    /* 蓝色光影 */
    box-shadow: 0 0 -3px rgb(37, 179, 249);
    border-radius: 30px;
    right: 0;
    top: 0;
    animation: myMeteor 1s linear infinite;
}

@keyframes myMeteor {
    0% {
        transform: translate(-320%, 12000%) rotate(-30deg);
    }
    25% {
        transform: translate(-535%, 17000%) rotate(-30deg);
    }
    100% {
        transform: translate(-795%, 24500%) rotate(-30deg);
    }
}

@keyframes myStar {
    0% {
        opacity: .5;
    }
    25% {
        transform: translateX(-50%);
    }
    50% {
        opacity: .8;
        transform: translateY(50%);
    }
    75% {
        transform: translateX(30%);
    }
    90% {
        opacity: .9;
    }
    100% {
        opacity: 0;
        transform: translateY(-20%);
    }
}

/* 缩放动画 */
@keyframes myScale {
    0% {
        opacity: .5;
        transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
    25% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(-45deg) scale(1.5);
    }
    50% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
    75% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(-45deg) scale(1.5);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
}