body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar {
    background-color: #e6f1f9;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    /* box-shadow:0 10px 50px #c6d9ed; */
    box-shadow:0 10px 50px #ccd2d3;
}

.navbar .brand {
    position: absolute;
    padding: 0 30px;
    margin: 0 0;
    top: calc(50% - 15px);
    font-size: 30px;
    font-weight: 700;
    color: #000;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.navbar input {
    display: none;
}

.navbar label {
    position: absolute;
    top: calc(50% - 25px);
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid rgba(198, 217, 237, 0.3);
    box-shadow: 5px 3px 6px 1px #c6d9ed, -5px -3px 6px 1px #fff;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.navbar label::before,
.navbar label::after {
    content: "";
    position: absolute;
    left: 5px;
    width: 40px;
    height: 4px;
    background-color: #042a41;
    transition: transform 0.2s ease-out, top 0.2s ease-out 0.2s;
}

.navbar label::before {
    top: calc(50% - 10px);
}

.navbar label::after {
    top: calc(50% + 6px);
}

.navbar input:checked+label::before {
    top: calc(50% - 2px);
    transform: rotate(-45deg);
    transition: top 0.2s ease-out, transform 0.2s ease-out 0.2s;
}

.navbar input:checked+label::after {
    top: calc(50% - 2px);
    transform: rotate(45deg);
    transition: top 0.2s ease-out, transform 0.2s ease-out 0.2s;
}

.navbar ul {
    position: relative;
    top: 100px;
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: all 0.5s ease-out;
}

.navbar ul li {
    list-style: none;
    width: 100%;
    height: 66px;
}
.navbar ul li:hover{
    /* box-shadow: 0 0 0 #fff, 0 15px 20px #c6d9ed inset; */
    /* background-color: rgba(222, 238, 250, 0.7); */
    opacity: 0.5;
}
.navbar ul li a {
    display: block;
    width: calc(100% - 40px);
    height: 100%;
    line-height: 66px;
    text-align: right;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #042a41;
    /* border: 1px solid rgba(198, 217, 237, 0.3); */
    /* box-shadow: 0 15px 20px #c6d9ed; */
    transition: all 0.5s ease-out;
}

.navbar input:checked ~ ul{
    opacity: 1;
    transform: scaleY(1);
}

@media (min-width: 992px) {
    .navbar label{
        display: none;
    }
    .navbar ul{
        position: static;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 200px;
        margin-right: 40px;
        width: calc(100% - 200px);
        height: 100%;
        opacity: 1;
        transform: scaleY(1);
    }
    .navbar ul li {
        list-style: none;
        text-align: center;
        height: 100px;
    }
    .navbar ul li a{
        display: inline;
        line-height: 100px;
        padding: 20px 30px;
        /* box-shadow: 5px 3px 6px 1px #c6d9ed, -5px -3px 6px 1px #fff; */
    }
}


.profilePhoto {
    border-radius: 50%;
}

.underBlock {
    margin-top: 100px;
    padding: 2% 10%;
}

.aboutBlock {
    display: flex;
}

.contactBlock {
    width: 300px;
    padding: 5%;
    line-height: 1.5;
}

.contactBlock a {
    color: #000;
}

.textcontent {
    color: #666;
}

.nameBold {
    font-size: 25px;
}

.introBlock {
    width: 70%;
    padding: 5%;
}

.introBlock p {
    line-height: 1.5;
}

.introBlock a {
    text-decoration: none;
    color: rgb(46, 139, 87);
}

.introBlock a:hover {
    text-decoration: underline;
}

.stream {
    width: 90%;
    margin: 20px 5%;
    display: flex;
}

.projectbody {
    width: 70%;
    margin-left: 5%;
}

.thumbnailfig {
    width: 25%;
}
.thumbnailfig img {
    width: 100%;
    border-radius: 8%;
    box-shadow: 5px 3px 6px 1px #666;
}

.blankBlock {
    height: 100px;
}

.h1title {
    font-weight: 500;
}

.h2title {
    margin-left: 5%;
    margin-bottom: 30px;
    font-weight: 500;
}

.h3title {
    margin-top: 0;
    font-weight: 500;
}

.pubBlock {
    line-height: 1.5;
}

.pubBlock p {
    margin-left: 8%;
}

.pubBlock a {
    text-decoration: none;
    color: rgb(46, 139, 87);
}

.pubBlock a:hover {
    text-decoration: underline;
}

.researchBlock {
    line-height: 1.5;
}

.researchBlock h1 {
    font-weight: 500;
}

.researchBlock a {
    text-decoration: none;
    color: rgb(46, 139, 87);
}

.researchBlock a:hover {
    text-decoration: underline;
    color: rgb(46, 139, 87);
}

.hr-twill {
    width: 100%;
    float: left;
    border: 0;
    padding: 3px;
    background: repeating-linear-gradient(135deg, #a2a9b6 0px, #a2a9b6 1px, transparent 1px, transparent 6px);
}

.hr-edge-weak {
    border: 0;
    padding-top: 1px;
    background: linear-gradient(to right, transparent, #d0d0d5, transparent);
}

.sepblank {
    height: 60px;
}

@media (max-width: 1000px) {
    .underBlock{
        width: 90%;
        padding: 2% 5%;
    }
    .aboutBlock {
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding: 2% 5%;
    }

    .contactBlock{
        width: 300px;
        text-align: center;
    }
    .introBlock,
    .stream {
        width: 90%;
    }
    .h1title{
        text-align: center;
    }

    .stream {
        flex-direction: column;
    }

    .thumbnailfig{
        width: 90%;
        margin: 0 8% 5% 5%;
        text-align: center;
    }
    .projectbody {
        width: 90%;
        margin: 0 5%;
    }
    .blankBlock{
        height: 20px;
    }
    .sepblank{
        height: 0;
    }
}